<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="student-id" content="9967819@cstj.qc.ca">
	<title>{title}</title>
	<link type="text/css" rel="stylesheet" href="/pwd_tp2/src/static/css/style.css">
</head>
<body>

{header}

<main>

<section id="data-detail-view">
	<h3>{title}</h3>
	
	<div>
	<p>{description}</p>
	<p>Catégorie: {category}</p>
	<div class="full-text">{full_text}</div>
	</div>

</section>
	 <p>
	 <a href=index.php?id=render_edit_view&pk={pk}>Edit</a> | 
	 <a href=index.php?id=render_delete_view&pk={pk}>Delete</a> |
	 <a href=index.php>Go Back</a>
	 </p>
</main>

{footer}

</body>
</html>
